<div class="video-container">
  <!-- Remote Image Container -->
  <div class="video-wrapper" id="remote-video-container">
    <div  style="width: 100%; height: 100%; border: 1px ;" id="remote-video" ></div>
  </div>

  <!-- Local Image Container -->
  <div class="video-wrapper" id="emitter-video-container">
    <div style="width: 200px; height: 100%; border: 1px ;" id="emitter-video" ></div>
  </div>
  <button (click)="endCall()" id="endcall" class="btn btn-danger">
    <i  class="bi bi-telephone-x-fill redIc"></i></button>
</div>
