<!--begin commentaire-->


<div class="col-12">
  <form [formGroup]="societeInformation">


    <div class="row">

      <div class="col-lg-14 col-xl-12 col-md-14 col-sm-14">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Information de la Société</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-12">

                <div class="form-group ">
                  <label class="  form-label">Nom</label>
                  <input type="text" class="form-control"  formControlName="responsable">
                </div>


                <div class="form-group">
                  <label class=" form-label">Etat</label>
                  <select  class="form-control"  placeholder="&#45;&#45;Select&#45;&#45;" formControlName="status">
                    <option value="">-&#45;&#45; Choisissez un état -&#45;&#45;</option>
                    <option *ngFor="let clientState of clientStates" [value]="clientState.id">{{clientState.name}}</option>
                  </select>
                </div>

              </div>
              <div class="col-lg-6 col-md-12">

                <div class="form-group ">
                  <label class="form-label">Effectif</label>
                  <input type="text" class="form-control"  formControlName="responsable">
                </div>


                <div class="form-group  ">
                  <label class="form-label">Secteur</label>
                  <select   class="form-control"   placeholder="" formControlName="secteur">
                    <option value="">---Choisissez un secteur ---</option>
                    <option *ngFor="let secteur of secteurs" [value]="secteur.id">{{secteur.name}}</option>
                  </select>
                </div>

              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group ">
                  <label class="  form-label">Responsable Manager</label>
                  <input type="text" class="form-control"  formControlName="responsable">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-14 col-xl-12 col-md-14 col-sm-14">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Coordonnées société </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-12">

                <div class="form-group">
                  <label class=" form-label">Tel</label>
                  <input class="form-control" formControlName="tel" name="tel" type="tel">
                </div>

                <div class="form-group ">
                  <label class="form-label">Adresse</label>
                  <input class="form-control" formControlName="adresse" name="adresse" type="text">
                </div>

                <div class="form-group  ">
                  <label class="  form-label">Code Postal</label>
                  <input class="form-control" formControlName="postalCode" name="codePostal" type="text">
                </div>

              </div>

              <div class="col-lg-6 col-md-12">

                <div class="form-group  ">
                  <label class=" form-label">Email</label>
                  <input class="form-control" formControlName="email" id="email" name="email" placeholder="Email" type="email">
                </div>

                <div class="form-group  ">
                  <label class="form-label">Ville</label>
                  <input class="form-control" formControlName="ville" name="ville" type="text">
                </div>

                <div class="form-group  ">
                  <label class=" form-label">Site Web</label>
                  <input class="form-control" formControlName="website" name="siteWeb" type="text">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-14 col-xl-12 col-md-14 col-sm-14">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Données légales </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-12">

                <div class="form-group">
                  <label class=" form-label">Statut Juridique</label>
                  <select class="form-control" formControlName="statut" placeholder="">
                    <option value="">-&#45;&#45; Choisissez un statut juridique -&#45;&#45;</option>
                    <option *ngFor="let statu of status" [value]="statu.id">{{statu.name}}</option>
                  </select>
                </div>


                <div class="form-group ">
                  <label class="form-label">TVA IC</label>
                  <input class="form-control" formControlName="tva" name="tva" type="text">
                </div>

                <div class="form-group  ">
                  <label class="  form-label">SIRET</label>
                  <input class="form-control" formControlName="siret" name="siret" type="text">
                </div>

              </div>

              <div class="col-lg-6 col-md-12">


                <div class="form-group  ">
                  <label class="  form-label">SIREN</label>
                  <div>
                    <input class="form-control" name="siren" type="text">
                  </div>
                </div>
                <div class="form-group  ">
                  <label class=" form-label">CODE APE</label>
                  <input class="form-control" name="codePostal" type="text">
                </div>
                <div class="form-group  ">
                  <label class=" form-label">RCS</label>
                  <input class="form-control" formControlName="rcs" name="rcs" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-14 col-xl-12 col-md-14 col-sm-14">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Coordonnées Bancaire</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-12">

                <div class="form-group ">
                  <label class="form-label">Compte N°:</label>
                  <input class="form-control"  name="compte" type="text">
                </div>


                <div class="form-group ">
                  <label class="form-label">RIB:  </label>
                  <input class="form-control" formControlName="tva" name="tva" type="text">
                </div>




              </div>
              <div class="col-lg-6 col-md-12">

                <div class="form-group ">
                  <label class="form-label">BIC:  </label>
                  <input class="form-control" formControlName="tva" name="tva" type="text">
                </div>

                <div class="form-group  ">
                  <label class="  form-label">IBAN:  </label>
                  <input class="form-control" formControlName="siret" name="siret" type="text">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="btn btn-list" style="display: contents;">
      <a class="btn btn-info float-right" style="margin-bottom: 6pt; margin-top: 21pt;">
        <i class="fa fa-plus mr-1"></i> Ajouter </a>
    </div>



  </form>
</div>
<!-- <div class="row">
  <div class="col-lg-14 col-xl-12 col-md-14 col-sm-14">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Information de la mission</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-12">

            <div class="form-group">
              <label class=" form-label">Titre de la mission</label>
              <div class="col-md-9">
                <input type="text" class="form-control" formControlName="companyName" >
              </div>
            </div>

            <div class="form-group ">
              <label class="form-label">Nombre d'année d'expertise demandé</label>
              <div class="col-md-9">
                <input class="form-control" type="number" name="number" formControlName="effectif">
              </div>
            </div>

            <div class="form-group ">
              <label class="  form-label">Descriptif</label>
              <input type="text" class="form-control"  formControlName="responsable">
            </div>

            <div class="form-group  ">
              <label class=" form-label">Date de Début</label>
              <input class="form-control" type="date" name="startDate" >
            </div>
            <div class="form-group  ">
              <label class=" form-label">Date de Fin</label>
              <input class="form-control" type="date" name="endDate" >
            </div>
          </div>

          <div class="col-lg-6 col-md-12">

            <div class="form-group  ">
              <label class=" form-label">Nombre de jours rendu</label>
              <ng-select  class="col-md-9"  placeholder="&#45;&#45;Select&#45;&#45;" formControlName="status">
                <ng-option *ngFor="let clientState of clientStates" [value]="clientState.id">{{clientState.name}}</ng-option>
              </ng-select>
            </div>

            <div class="form-group  ">
              <label class=" form-label">Nombre de jours gratuit</label>
              <ng-select  class="col-md-9"  placeholder="&#45;&#45;Select&#45;&#45;" formControlName="status">
                <ng-option *ngFor="let clientState of clientStates" [value]="clientState.id">{{clientState.name}}</ng-option>
              </ng-select>
            </div>

            <div class="form-group  ">
              <label class="form-label">Secteur</label>
              <ng-select   class="form-control"   placeholder="&#45;&#45;Select&#45;&#45;" formControlName="secteur">
                <ng-option *ngFor="let secteur of secteurs" [value]="secteur.id">{{secteur.name}}</ng-option>
              </ng-select>
            </div>
            <div class="form-group ">
              <label class="form-label">Nombre d'année d'expertise demandé</label>
              <div class="col-md-9">
                <input class="form-control" type="number" name="number" formControlName="effectif">
              </div>
            </div>

            <div class="form-group">
              <div class="form-label">Attribuer la mission à moi</div>
              <label class="custom-switch">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"  >
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">La mission sera attaché à votre profile</span>
              </label>
            </div>

            <div class="form-group ">
              <div class="form-label">publier la mission</div>
              <label class="custom-switch">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" >
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">Vous allez recevoir des positionnement sur cette mission.</span>
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--end commentaire-->

<!--      <div class="form-group  ">
                 <label class=" form-label">Nombre de jours rendu</label>
                 <ng-select  class="col-md-9"  placeholder="&#45;&#45;Select&#45;&#45;" formControlName="status">
                   <ng-option *ngFor="let clientState of clientStates" [value]="clientState.id">{{clientState.name}}</ng-option>
                 </ng-select>
               </div>

               <div class="form-group  ">
                 <label class=" form-label">Nombre de jours gratuit</label>
                 <ng-select  class="col-md-9"  placeholder="&#45;&#45;Select&#45;&#45;" formControlName="status">
                   <ng-option *ngFor="let clientState of clientStates" [value]="clientState.id">{{clientState.name}}</ng-option>
                 </ng-select>
               </div>

               <div class="form-group ">
                 <label class="form-label">Descriptif</label>
                 <input type="text" class="form-control"  formControlName="responsable">
               </div>

               <div class="form-group  ">
                 <label class="form-label">Secteur</label>
                 <ng-select   class="col-md-9"   placeholder="&#45;&#45;Select&#45;&#45;" formControlName="secteur">
                   <ng-option *ngFor="let secteur of secteurs" [value]="secteur.id">{{secteur.name}}</ng-option>
                 </ng-select>
               </div>

               <div class="form-group ">
                 <label class="form-label">Nombre d'année d'expertise demandé</label>
                 <div class="col-md-9">
                   <input class="form-control" type="number" name="number" formControlName="effectif">
                 </div>
               </div>

               <div class="form-group">
                 <div class="form-label">Attribuer la mission à moi</div>
                 <label class="custom-switch">
                   <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"  >
                   <span class="custom-switch-indicator"></span>
                   <span class="custom-switch-description">La mission sera attaché à votre profile</span>
                 </label>
               </div>

               <div class="form-group ">
                 <div class="form-label">publier la mission</div>
                 <label class="custom-switch">
                   <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" >
                   <span class="custom-switch-indicator"></span>
                   <span class="custom-switch-description">Vous allez recevoir des positionnement sur cette mission.</span>
                 </label>
               </div>-->





<!--          <div class="form-group">
            <label class=" form-label">Titre de la mission</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="companyName" >
            </div>
          </div>

          <div class="form-group ">
            <label class="form-label">Nombre d'année d'expertise demandé</label>
            <div class="col-md-9">
              <input class="form-control" type="number" name="number" formControlName="effectif">
            </div>
          </div>

          <div class="form-group ">
            <label class="  form-label">Descriptif</label>
            <input type="text" class="form-control"  formControlName="responsable">
          </div>

          <div class="form-group  ">
            <label class=" form-label">Date de Début</label>
            <input class="form-control" type="date" name="startDate" formControlName="startDate">
          </div>

          <div class="form-group  ">
            <label class=" form-label">Date de Fin</label>
            <input class="form-control" type="date" name="endDate" formControlName="endDate">
          </div>-->
