<div class="video-container">
  <!-- Remote Image Container -->
  <div class="video-wrapper" id="remote-video-container">
    <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt286f191be45221e6/62317ee3496c4565aaa4c459/cristiano_ronaldo_manchester_united.jpg?auto=webp&format=pjpg&width=3840&quality=60" style="width: 100%; height: 100%; border: 2px solid;" id="remote-video" alt="Remote Image">
  </div>

  <!-- Local Image Container -->
  <div class="video-wrapper" id="emitter-video-container">
    <img src="https://www.cristianoronaldo.com/assets/images/brand_eyewear.jpg?t=832236" style="width: 200px; height: 150px; border: 2px solid;" id="emitter-video" alt="Local Image">
  </div>
  <button id="endcall" class="btn btn-danger">
  <i  class="bi bi-telephone-x-fill redIc"></i></button>
</div>
